.LoginBackground{
  position: sticky;
  top:0px;
  left:0px;
  z-index: 1;
  background-color: rgba(2, 156, 253, 0.6);
  display: flex;
  justify-content:space-around;
  align-items: center;
  height:40vh;
  width:100%;
}
.loginlogoimage{
  padding: 5px;
  height: 250px;
  width: 50vw;
  border-radius: 50px;
}
.LoginForm{
  width: 40vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.subd{
  margin-top: -15px;
  font-weight: bold;
}
.mheader{
  font-style: italic;
  font-family: cursive;
}
.middlest{
  position: relative;
  top: 0px;
  left: 0px;
  background-image: url("../../src/serieslg.jpg");
  width: 100%;
  height: 800pt;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bigs{
  text-align: center;
  border-radius: 100px;
  font-size: 20px;
  padding: 3px;
  background-color: lightgray;
  border-style: hidden;
  color: black;
  margin-bottom: 1.5rem;
}

.sbtn{
  margin-left: 30%;
  width: 30%;
  font-size: 1.2em;
  border-radius: 50px;
  background-color:whitesmoke;
  color: black;
  border:3px solid lightgray;
}
.wheader{
  position: sticky;
  top: 0px;
  left: 0px;
  height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(2, 156, 253, 0.6);
}
.hmsg{
  margin-top: 10vh;
}
.usual{
width: 200px;
height: 35px;
font-size: 18px;
border-style: none;
}
form.homef button{
  width: 80px;
  height: 35px;
  font-size: 18px;
  background-color:rgb(0,90,200);
  border-style: none;
}
form.homef button:hover{
  background-color:rgb(0,100,220);
  border-style: solid;
  border-color: rgb(0,90,200);
  cursor: pointer;
}

.hheader{
  position: sticky;
  top:0px;
  left:0px;
  width: 100vw;
  height: 12vh;
  font-family: cursive;
  background-color:cornsilk;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sbdy{
  margin-top: 2px solid white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  color: white;
}

.gallery{
  color: white;
  float:left;
  border-style: solid;
  border-color: black;
  margin: 10px;

}
.desc{
  font-size: 18px;
  text-align: center;
}

.gallery:hover{
  border-style: solid;
  border-color: ghostwhite;
}

.warns{
  width: 200px;
  height: 35px;
  font-size: 18px;
  border-style: solid;
  border-color: red;
  
}

.homeheader{
  
  margin-left:50px;
}

.sheader{
  width: 40vw;
  height:20vh;
  border-radius:30px;

}
.bckbtn{
  background:none;
  border: none;
}
.backbuttom{
  background: none;
  flex-basis: 40%;
}
.bckbtn:hover{
  cursor: pointer;
}
/* .topr{
  position: absolute;
  top: 6%;
  width: 100%;
  background-color: white;
  height: 5px;
}

.btmr{
  position: absolute;
  top: 30%;
  width: 100%;
  background-color: white;
  height: 5px;
} */
.sbody{
  width: 100vw;
  display: flex;
  border: 2px solid white;
  align-items: center;
  justify-content: space-around;
}
.posterImage{
  flex-basis: 40vw;
}
/* .sbody{
  color: white;
  position: absolute;
  top:40%;
  left:5%;
  padding-right: 50px;
  border-right: solid;
  border-color: white;
} */
.sbodydesc{
  color: white;
}
.imgHeader{
  flex-basis: 50%;
}
/* .lastHeader{
  flex-basis: 20%;
} */

.castinfo{
  color: white;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
}
.castpho{
  width: 120px;
  height:200px;
  border-style: hidden;
  float: left;
  margin-right: 20px;
  text-align: center;
}

.errormsg{
  color: white;
  position: absolute;
  top:50%;
}


.cerror{
  color: white;
}

.plot{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  color: white;
}

@media only screen and (max-width: 600px) {
  .loginlogoimage{
    height: 150px;
  }
  body {
    font-size: 16px;

  }
  .bigs{
    margin-left: 1.2em;
    width: 80%;
    font-size: 16px;
    text-align: center;

  }
  .sbtn{
    width: 50%;
    font-size: 16px;
    text-align: center;
  }

  .hheader{
    font-size: 12px;

  }
  .homeheader{
    margin-left: 5px;
  }
  .usual{
    width: 100px;
    height: 25px;
    font-size: 12px;
    border-style: none;
    }
    form.homef button{
      width: 40px;
      height: 25px;
      font-size: 12px;
      background-color:rgb(0,90,200);
      border-style: none;
    }
    form.homef button:hover{
      background-color:rgb(0,100,220);
      border-style: solid;
      border-color: rgb(0,90,200);
      cursor: pointer;}
    .warns{
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-style: solid;
        border-color: red;
    }


    div.gallery img{
      color: white;
      
      border-style: solid;
      border-color: black;
      margin: 5px;
      width:160px;
      height:200px;
    
    }
    
    .desc{
      font-size: 12px;
      text-align: center;
    }

    .sheader{
      width:40vh;
      height: 20vh;
     
    }
    /* .bckbtn{
      position: absolute;
      left:1%;
      top:10%;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-color:black;
      border-style: none;
      color: white;
    
    */
    /* div.sbody img{
      width:200px;
      height:300px;
    } */
    .plot{
      color: white;
      }
    .castpho{
      width: 100px;
      height:160px;
      border-style: hidden;
      float: left;
      margin-right: 20px;
      margin-bottom: 50px;
      text-align: center;
    }
          
    
}