body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:black;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginheader{
  
  color:rgb(255, 10, 10);
  padding: 3px 20px;
}
.subd{
  margin-top: -15px;
  font-weight: bold;
}
.mheader{
  font-style: italic;
  font-family: cursive;
}
.middlest{
  background-image: url("../../src/serieslg.jpg");
  width: 100%;
  height: 800pt;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.lform{
  position: absolute;
  top: 50%;
  left:36%
}

.bigs{
  
  border-radius: 100px;
  padding: 3% 7%;
  font-size: 30px;
  background-color: lightgray;
  border-style: hidden;
  color: black;
  
}

.sbtn{
  

  width: 60%;
  font-size: 28px;
  padding: 3% 7%;
  border-radius: 50px;
  background-color:lightgray;
  color: black;
  border-color: green;
  border-style: double;
}

.homef{
  position: absolute;
  top: 25%;
  right: 5%;
}
.usual{
width: 200px;
height: 35px;
font-size: 18px;
border-style: none;
}
form.homef button{
  width: 80px;
  height: 35px;
  font-size: 18px;
  background-color:rgb(0,90,200);
  border-style: none;
}
form.homef button:hover{
  background-color:rgb(0,100,220);
  border-style: solid;
  border-color: rgb(0,90,200);
  cursor: pointer;
}

.hheader{
  position: absolute;
  top: 5%;
  width: 100%;
  font-family: cursive;
  background-color:cornsilk;
}

.sbdy{
  color: white;
  position:absolute;
  top:30%;
  left:5%
}

.gallery{
  color: white;
  float:left;
  border-style: solid;
  border-color: black;
  margin: 10px;

}
.desc{
  font-size: 18px;
  text-align: center;
}

.gallery:hover{
  border-style: solid;
  border-color: ghostwhite;
}

.warns{
  width: 200px;
  height: 35px;
  font-size: 18px;
  border-style: solid;
  border-color: red;
  
}

.homeheader{
  
  margin-left:50px;
}

.sheader{
  position: absolute;
  
  left:32%;
  top: 0px;
  clip: rect(60px,480px,230px,20px);
}
.bckbtn{
  position: absolute;
  left:2%;
  top:15%;
  width: 50px;
  height: 50px;
  font-size: 50px;
  background-color:black;
  border-style: none;
  color: white;

}
.bckbtn:hover{
  cursor: pointer;
}
.topr{
  position: absolute;
  top: 6%;
  width: 100%;
  background-color: white;
  height: 5px;
}

.btmr{
  position: absolute;
  top: 30%;
  width: 100%;
  background-color: white;
  height: 5px;
}

.sbody{
  color: white;
  position: absolute;
  top:40%;
  left:5%;
  padding-right: 50px;
  border-right: solid;
  border-color: white;
}
.sbodydesc{
  color: white;
  position: absolute;
  top:50%;
  left:30%;

}
.plot{
  
  position: absolute;
  top:700px;
  left:5%;
  color: white;
  padding: 5px;
  margin-right: 2%;
}

.castinfo{
  color: white;
  position: absolute;
  top:850px;
  left:5%;
  
}
.castpho{
  width: 120px;
  height:200px;
  border-style: hidden;
  float: left;
  margin-right: 20px;
  text-align: center;
}

.errormsg{
  color: white;
  position: absolute;
  top:50%;
}

.hmsg{
  
  margin-left: 500px;
  
}

.cerror{
  color: white;
}



@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;

  }
  .bigs{
    font-size: 16px;
    text-align: center;

  }
  .sbtn{
    font-size: 16px;
    text-align: center;
  }

  .hheader{
    font-size: 12px;

  }
  .homeheader{
    margin-left: 5px;
  }
  .usual{
    width: 100px;
    height: 25px;
    font-size: 12px;
    border-style: none;
    }
    form.homef button{
      width: 40px;
      height: 25px;
      font-size: 12px;
      background-color:rgb(0,90,200);
      border-style: none;
    }
    form.homef button:hover{
      background-color:rgb(0,100,220);
      border-style: solid;
      border-color: rgb(0,90,200);
      cursor: pointer;}
    .warns{
        width: 100px;
        height: 25px;
        font-size: 12px;
        border-style: solid;
        border-color: red;
    }
    .hmsg{
  
      margin-left: 40px;
      font-size: medium ;      
    }

    .sbody{
      color: white;
      position: absolute;
      top:40%;
      left:5%;
      border-right: solid;
      border-color: white;
    }

    div.gallery img{
      color: white;
      
      border-style: solid;
      border-color: black;
      margin: 5px;
      width:160px;
      height:200px;
    
    }
    
    .desc{
      font-size: 12px;
      text-align: center;
    }
    .sheader{
      position: absolute;
      left:20%;
      width:280px;
      height:220px;
     
    }
    .bckbtn{
      position: absolute;
      left:1%;
      top:10%;
      width: 30px;
      height: 30px;
      font-size: 30px;
      background-color:black;
      border-style: none;
      color: white;
    
    }
    .sbody{
      color: white;
      position: absolute;
      top:40%;
      left:5%;
      padding-right: 20px;
      border-right: solid;
      border-color: white;
    }
    div.sbody img{
      width:200px;
      height:300px;
    }
    .sbodydesc{
      font-size: small;
      color: white;
      position: absolute;
      top:50%;
      left:55%;
    
    }
    .plot{
      color: white;
      top:550px;
      left:5%;
      padding: 5px;
      margin-right: 2%;
    }
    
    .castinfo{
      color: white;
      position: absolute;
      top:750px;
      left:5%;
      
      
    }
    .castpho{
      width: 100px;
      height:160px;
      border-style: hidden;
      float: left;
      margin-right: 20px;
      margin-bottom: 50px;
      text-align: center;
    }
          
    
}